@import "../../../styles/main.scss";

.card {
    height: calc(100vh - 90px);
    padding-top: 40px;
}

.card_button,
.button_img {
    position: relative;

    font-size: $font-size-input;
    font-weight: $font-weight-300;
    background-color: $dark-primary-color;
    @include box-shadow(0px 4px 12px -3px rgba(34, 60, 80, 0.1));
    border-radius: $border-radius-primari;
    padding: 10px 30px;
}

.button_img {
    padding-left: 55px;
    &::before {
        content: "";
        display: block;
        position: absolute;
        background-image: url(../../../assets/icons/darkLeftArrow.png);
        background-size: cover;
        height: 20px;
        width: 20px;
        left: 18px;
        top: 8px;
        // z-index: 100;
    }
}

.card_inner {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    img {
        max-height: 330px;
        margin: 0 auto;
    }
}

.information {
    display: flex;
    flex-direction: column;
    gap: 50px;
    // justify-content: space-between;
}

.country_name {
    font-size: $font-size-h1;
}
.detailed {
    height: 180px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    p {
        font-size: $font-size-input;
        font-weight: $font-weight-800;
        padding: 10px 0;
        max-width: 380px;
        line-height: 1;
        span {
            font-weight: $font-weight-300;
        }
    }
}

.border {
    font-size: $font-size-input;
    font-weight: $font-weight-800;
    display: flex;
    align-items: center;
    gap: 20px;

    &_btns {
        display: flex;
        gap: 10px;
    }
}
