@import "./variables";
@import "./mixins";
.flex-between {
    display: flex;
    justify-content: space-between;
    &.items-center {
        align-items: center;
    }
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 10px;
}

.header {
    font-family: $font-family-root;
    font-size: 30px;
    background-color: $dark-primary-color;
    @include box-shadow(0px 4px 12px -3px rgba(34, 60, 80, 0.1));
}

.input {
    border: none;
    background-color: $dark-primary-color;
    width: 500px;
    padding: 20px 10px;
    font-size: $font-size-input;
    border-radius: $border-radius-primari;
    @include box-shadow(0px 4px 12px -3px rgba(34, 60, 80, 0.1));
}

.icon {
    height: 20px;
}
