$max-width: 1440px;

$light-primary-color: hsl(200, 15%, 8%);
$light-input-color: hsl(0, 0%, 52%);
$light-background-color: hsl(0, 0%, 98%);
$dark-primary-color: hsl(0, 0%, 100%);
$dark-elements-color: hsl(209, 23%, 22%);
$dark-background-color: hsl(207, 26%, 17%);

$primary-font-size: 25px;
$header-font-size: 30px;

$font-weight-300: 300;
$font-weight-600: 600;
$font-weight-800: 800;

$font-family-root: "Nunito Sans", sans-serif;
$font-style-root: normal;

$font-size-primary: 22px;
$font-size-h1: 30px;
$font-size-input: 16px;

$border-radius-primary: 6px;

$animate-transition: all 2s ease-in-out;

// $font-h1: 800 24px/20px "Nunito Sans", sans-serif;
