@import "../../styles/main.scss";

.search {
    position: relative;
    width: 500px;
    img {
        position: absolute;
        height: 28px;
        left: 30px;
        top: 15px;
    }
    input {
        padding-left: 80px;
    }

    @media screen and (max-width: 900px) {
        width: 300px;
    }
    @media screen and (max-width: 620px) {
        width: 100%;
    }
}
